@model IEnumerable<BlogApp.Domain.Models.Post>


<h1>Posts</h1>

<p>
    <a asp-controller="Post" asp-action="Create">Criar novo Post</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Conteúdo</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">Editar</a> |
                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
